extends layout.pug

block table
  table.minimalistBlack
    thead
      tr
        th Datum
        th Systolisch
        th Diastolisch
        th Puls
    tbody
        each day in days
          tr
            td #{day.Time}
            td #{day.Sys}
            td #{day.Dia}
            td #{day.Puls}
    tfoot
      tr
        td Minimum 
        td #{minSys} 
        td #{minDia} 
        td #{minPuls} 
      tr 
        td Maximum 
        td #{maxSys} 
        td #{maxDia} 
        td #{maxPuls} 
      tr 
        td Mittelwert
        td #{avgSys} 
        td #{avgDia} 
        td #{avgPuls}   
